Repository artokun/comfyui-runpod-serverless, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker, tests, ci/cd, python, dependencies, configuration

.github/labeler.yml:

# Auto-labeler configuration

documentation:
  - '**/*.md'
  - docs/**/*

docker:
  - Dockerfile*
  - docker-compose.yml
  - .dockerignore

tests:
  - tests/**/*
  - pytest.ini
  - requirements-dev.txt

ci/cd:
  - .github/workflows/**/*

python:
  - '**/*.py'

dependencies:
  - requirements*.txt
  - pyproject.toml

configuration:
  - config.yml
  - download_models.py
  - install_nodes.py

feat: add lightweight default config and CONFIG_YML environment variable support
  CLAUDE.md
  README.md
  RUNPOD_PODS.md
  RUNPOD_QUICKSTART.md
  config.example.yml
  config.yml
  docker-compose.yml
  download_models.py
  install_nodes.py
  models/download_models.py
  requirements.txt
  start.sh
Labels: documentation, docker, python, dependencies, configuration

feat: add hf_transfer fast download support for 10-15x faster model downloads
  CLAUDE.md
  README.md
  download_models.py
  requirements.txt
  start.sh
Labels: documentation, python, dependencies, configuration

feat: add parallel chunk downloads for non-HuggingFace sources
  Dockerfile
  README.md
  config.example.yml
  download_models.py
Labels: documentation, docker, python, configuration

fix: disable WebSocket in test_local.py to prevent hanging
  examples/test_local.py
Labels: python

feat: enhance WebSocket handling and add examples directory
  docker-compose.yml
  examples/example_workflow.json
  examples/test_local.py
  handler.py
Labels: docker, python

chore: update Docker username from 'alongbottom' to 'artokun'
  CONTRIBUTING.md
  RUNPOD_QUICKSTART.md
  build.sh
  deploy.sh
  docs/AUTO_DEPLOY.md
  docs/DEPLOYMENT.md
  docs/DOCKER_COMPOSE.md
  docs/DOCKER_HUB_SETUP.md
  docs/RUNPOD_CONFIG.md
  docs/RUNPOD_DEPLOYMENT.md
  docs/TESTING.md
Labels: documentation

feat: enhance Dockerfile and handler.py for ComfyUI setup and configuration
  Dockerfile
  RUNPOD_QUICKSTART.md
  examples/example_request.json
  handler.py
Labels: documentation, docker, python

chore: update config.example.yml and Dockerfile for improved model configuration and compatibility
  Dockerfile
  config.example.yml
Labels: docker

refactor: unify ComfyUI RunPod Docker image for all modern NVIDIA GPUs
  CLAUDE.md
  Dockerfile
  RUNPOD_PODS.md
  build.sh
  deploy.sh
Labels: documentation, docker

docs: update documentation and fix broken links
  .dockerignore
  .env.example
  .github/workflows/SETUP.md
  .github/workflows/VERSION_GUIDE.md
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  CONFIG_MANAGEMENT.md
  Dockerfile
  README.md
  RUNPOD_ENDPOINTS.md
  apply_config.sh
  docker-compose.yml
  download_models.py
  install_nodes.py
  requirements.txt
  start.sh
  test_input.json
Labels: documentation, docker, ci/cd, python, dependencies, configuration

feat: add runtime mode support for optimized serverless cold starts
  CLAUDE.md
  Dockerfile
  README.md
  build.sh
  docker-compose.yml
  entrypoint.sh
  requirements.txt
  start.sh
Labels: documentation, docker, dependencies

fix: add ComfyUI-Manager dependencies to requirements.txt
  requirements.txt
Labels: dependencies

refactor: let install_nodes.py handle node dependencies dynamically
  requirements.txt
Labels: dependencies

fix: ensure node dependencies install even when node exists
  install_nodes.py
Labels: python, configuration

feat: install dependencies for all orphaned nodes in custom_nodes
  install_nodes.py
Labels: python, configuration

fix: always install orphaned node dependencies on startup
  install_nodes.py
  start.sh
Labels: python, configuration

feat: persist Python packages on volume for instant warm starts
  start.sh
Labels: none

refactor: volume-first architecture - minimal container, everything on volume
  Dockerfile
  start.sh
Labels: docker

feat: integrate uv package manager and consolidate documentation
  CLAUDE.md
  CONFIG_MANAGEMENT.md
  Dockerfile
  README.md
  RUNPOD_ENDPOINTS.md
  RUNPOD_PODS.md
  config.yml
  download_models.py
  install_nodes.py
  start.sh
Labels: documentation, docker, python, configuration

fix: remove CONFIG_MANAGEMENT.md from Dockerfile
  Dockerfile
Labels: docker

feat: optimize custom node installation with batch UV dependency installation
  install_nodes.py
Labels: python, configuration

feat: add real-time progress visibility for batch UV installation
  install_nodes.py
Labels: python, configuration

refactor: remove redundant orphaned nodes check
  install_nodes.py
  start.sh
Labels: python, configuration

fix: remove empty if-statement causing bash syntax error
  start.sh
Labels: none

refactor: install dependencies in batches of 10 for better local dev UX
  install_nodes.py
Labels: python, configuration

fix: reduce install script parallelism from 4 to 2 workers
  start.sh
Labels: none

refactor: update SageAttention installation to use pre-built wheels
  README.md
  start.sh
Labels: documentation
